*.png
*.old
*.o
*.so
*.out
*.swp
*.swo
*.swn
*.un~
CTestTestfile.cmake
CMakeCache.txt
CMakeFiles/
Doxyfile
Makefile
Testing/
bin/
cmake_install.cmake
doc/
ext/generated/
install_manifest.txt
test_*.cc
tags
compile_commands.json
